body {
    background-image: url("bluewavy.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 0, 0);
}

#pizza {
    width: 250px;
}

.stepsContainer {
    color: yellowgreen;
}